h1{
    color: red;
}

img{
    width: 450px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    padding: 50px;
    border: solid red 3px;

    background-color: blue;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}